*.class

# Symlink to jetbrains.jdk derivation of nixpkgs (created by :jbr task)
/jbr

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war
*.ear

out
.idea/workspace.xml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


**/.idea
*.iml
**/.gradle
build
src/gen
